* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #750f8a;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #121212;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 25px;
    list-style: none;
}

.menu li {
    cursor: pointer;
}

.menu li:hover {
    color: #7f5af0;
}

.search input {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero-text p {
    color: #bbbbbb;
}

.hero-image img {
    width: 500px;
    border-radius: 10px;
}
/* MOVIE SECTION */
.movies {
    padding: 40px 60px;
}

.movies h2 {
    margin-bottom: 20px;
}

.movie-list {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 10px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
}

.card:hover {
    background-color: #7f5af0;
}